<%= form_for(@host, html: {multipart: true}) do |f| %>
  <ul>
  <% @host.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  
  <p>
    <%= f.label 'Host Name' %><br />
    <%= f.text_field :hostName %>
  </p>
  
  <p>
    <%= f.label 'Description' %><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label 'snmp community' %><br />
    <%= f.text_field :snmp_community %>
  </p>
  
  <p>
    <%= f.label 'snmp version' %><br />
    <%= f.text_field :snmp_version %>
  </p>
  
  <p>
    <%= f.label 'snmp user name' %><br />
    <%= f.text_field :snmp_userName %>
  </p>
  
  <p>
    <%= f.label 'snmp password' %><br />
    <%= f.text_field :snmp_password %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>

<% end %>
